general {
    colors = true
    output_format = "i3bar"
    interval = 2
}

# Order

order += "volume master"
order += "wireless wlp3s0"
order += "disk /"
order += "battery all"
order += "cpu_usage"
order += "cpu_temperature 0"
order += "time"

disk "/" {
    format = "%avail/%total (%percentage_used)"
    prefix_type = "custom"
    low_threshold = 5
    threshold_type = "percentage_free"
}

wireless wlp3s0 {
     format_up = "W: %ip | %quality | %essid | %frequency"
     format_down = "W: Down"
}

battery all {
    format = "%status %percentage %remaining"
}

cpu_temperature 0 {
    path = "/sys/class/hwmon/hwmon2/temp1_input"
    format = "%degrees °C"
    max_threshold = "100"
    format_above_threshold = "WARNING: %degrees °C"
}

cpu_usage {
    format = "%usage%"
}

time {
    format = "%Y-%m-%d %H:%M:%S"
}

volume master {
    format = "♪: %volume"
    format_muted = "♪: muted (%volume)"
    device = "default"
    mixer = "Master"
    mixer_idx = 0
}
