rofi.combi-modi:            window,drun,ssh
rofi.theme:                 solarized
rofi.font:                  hack 10
rofi.width                  20
rofi.location:              2
rofi.threads:               0
rofi.terminal               alacritty
rofi.run-shell-command:     {terminal} -e {cmd}
rofi.modi:                  drun 
